# Виртуальное окружение
venv/
/venv/
env/
/env/

# Файлы кэша Python
__pycache__/
*.pyc

# Файл с переменными окружения (если будете использовать)
.env

# База данных SQLite (не нужна в репозитории)
*.db
*.db-journal

# Логи
*.log